@import "tailwindcss";

@font-face {
    font-family: Font1;
    src: url(../public/Font/Lausanne-300.woff2) format('woff2');
}

@font-face {
    font-family: Font2;
    src: url(../public/Font/Lausanne-500.woff2) format('woff2');
}

.moveX{
    animation-name: moveAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.moveLink {
    opacity: 0;
    transition: all ease 0.3s;
}

.Link:hover .moveLink {
    opacity: 1;
}

@keyframes moveAnimation {
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}